@import "tailwindcss";

/* Clerk user button adjust */

.cl-avatarBox {
  height: 2rem;
  width: 2rem;
}

/* Input */

input {
  background-color: #FFFFFF;
  accent-color: red;
  border: 1px solid #ccc;
  color: #333;

}